extends ../layouts/main-Layout

block styles
    link(rel="stylesheet", href="/css/transaction.css")

block content
    main
        if transactions.length > 0 
            .grid
                each transaction in transactions
                    article.card.transaction-item
                        header.card__header
                            h1.transaction__title #{transaction.serviceType}
                        div.card__image
                            img(src=`/${transaction.logo}`, alt="A Book")
                        div.card__content
                            h2.transaction__price #{transaction.currency.symbol}#{transaction.total}
                            p.transaction__description #{transaction.recipientName}
                        .card__actions
                            a(href=`/transaction/${transaction._id}`)
                                button.btn(type="button")
                                    | View Details
                            
                            form(action="/delete-transaction", method="POST")
                                input(type="hidden", name="transactionId", value=transaction._id )
                                input(type="hidden", name="_csrf" , value = csrfToken )
                                button.btn(type="submit") delete

                            button.btn Share Transaction
        else
            h1 No Transactions
